[Unit]
Description=LumberHub API Service
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/bin/bash WORKDIR/api/run.sh
[Install]
WantedBy=multi-user.target