[Unit]
Description=LumberHub API Service
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=WORKDIR/api/
User=lukasz
ExecStart=/bin/bash WORKDIR/api/run.sh
[Install]
WantedBy=multi-user.target